.btn-active-disable{
border-radius: 30px;
padding: 0px 10px;
background-color: #FFFFFF;
border-color: #7E7E7E;
color: #333;
 } 
.btn-active-enable{
border-radius: 30px;
padding: 0px 10px;
background-color: #00a65a;
border-color: #008d4c;
color: white;
 }
.btn-inactive-enable{
border-radius: 30px;
padding: 0px 10px;
background-color: #c9302c;
border-color: #ac2925;
color: white;
 } 
.btn-inactive-disable{
border-radius: 30px;
padding: 0px 10px;
background-color: #FFFFFF;
border-color: #7E7E7E;
color: #333;
 }