*{margin:0; padding:0; }
html{width: 100%; height: 100%;position: relative;}
body{width: 100%; height: 100%;}
img{margin:0;padding:0;}
b, strong {font-weight: 600; }
.login-page, .register-page{float: left;position: relative;}
.login-box, .register-box {width: 1000px; display: table; z-index: 99; position: absolute; left: 50%; margin: 0 0 0 0; right: 50%; top: 50%; bottom: 50%; transform: translate(-50%,-50%);-webkit-transform: translate(-50%,-50%); }
.login-box-body, .register-box-body{float: right;margin-right:10%;width: 450px;text-align: center;padding:40px;box-shadow: 10px 10px 10px rgba(12, 12, 12, 0.30196078431372547);}
.login-logo, .register-logo {text-align: center; float: left; top: 30%; position: absolute;}
.login-img{width:350px;min-width: 200px;}

.login-page .form-group.has-feedback + .row .col-xs-4{width: 100%;}

.login-page .form-group.has-feedback + .row .col-xs-4 .btn.btn-primary.btn-block.btn-flat {border-color: #ee4495;background-color: #ee4495;width: 130px;border-radius:20px;height: 35px; float: none; margin: 0 auto 20px;}
.login-page .form-group.has-feedback + .row .col-xs-4 .btn.btn-primary.btn-block.btn-flat:hover {border-color: #ee4495; color:#ee4495;background-color: #fff;}
.login-page .has-feedback .form-control{height:40px;}
.login-page .form-control-feedback{width:40px;height:40px;line-height:40px;color: #ee4495;font-size: 16px;}
.login-box-msg, .register-box-msg{font-size: 20px; font-weight: 600;text-transform: uppercase;}

.login_wrapper::after {content: "";
width: 100%; 
position: fixed;
height: 100%;
background-image: linear-gradient(120deg, rgba(0, 165, 212, 0.4) 20%, rgba(238, 68, 149, 0.8) 80%);
background-image: -webkit-linear-gradient(0deg, rgba(0, 165, 212, 0.4) 20%, rgba(238, 68, 149, 0.8) 80%);
background-image: -o-linear-gradient(120deg, rgba(0, 165, 212, 0.4) 20%, rgba(238, 68, 149, 0.8) 80%);
}

.bg-green, .callout.callout-success, .alert-success, .label-success, .modal-success .modal-body {background-color: #00a5d4 !important; border-color: #00a5d4;}
.login_wrapper {float: left; width: 100%; position: relative;height:100%; }
.login-box:hover .login-logo {animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both; transform: translate3d(0, 0, 0); backface-visibility: hidden; perspective: 1000px;}



.main-sidebar, .left-side{width: 270px;}
.main-header > .navbar{margin-left: 270px;}
.main-header .logo{width:270px;}
.content-wrapper, .right-side, .main-footer {margin-left:270px;}

.skin-blue .sidebar-menu > li > a .pull-right-container {right: 10px; top: 15px; position: absolute; }
.sidebar-mini.sidebar-collapse .sidebar-menu > li:hover > a > span:not(.pull-right), .sidebar-mini.sidebar-collapse .sidebar-menu > li:hover > .treeview-menu{width: 240px;}
.sidebar-mini.sidebar-collapse .sidebar-menu > li:hover > a > span.pull-right-container {background: transparent; margin-top: 5px;}
.navbar-nav > .user-menu > .dropdown-menu > li.user-header > img {margin-top: 10px;height:50px;width: 50px;}
.navbar-nav > .user-menu > .dropdown-menu > .user-footer{background-color:#089fce;}
.skin-blue .main-header li.user-header {background-color: #089fce;height:auto !important;float:left;width:100%;padding: 10px 10px 0 !important;}
.navbar-nav > .user-menu > .dropdown-menu > .user-footer .btn-default {color: #fff;background-color:#ee4495;border-radius: 20px;}
.navbar-nav > .user-menu > .dropdown-menu > .user-footer .btn-default:hover {color:#ee4495;}
#table {margin: 20px 0;}
#table_wrapper{padding:10px;}
table.dataTable, table.dataTable th, table.dataTable td{border:1px solid #ccc;}
.form-control{border-radius:5px !important;}
.modal-title{text-align:center;}
.modal-header .close {margin-top: 5px;}
.box{padding: 10px 0;}
.modal-header {border-bottom-color: #727272;background: #eee;}
.modal-footer{background-color:#eee;}
.dataTables_wrapper .dataTables_length, .dataTables_wrapper .dataTables_filter, .dataTables_wrapper .dataTables_info, .dataTables_wrapper .dataTables_processing, .dataTables_wrapper .dataTables_paginate{margin:10px 0 30px;}
.skin-blue .sidebar-menu > li.header {color: #fff; background: #1a2226; text-align: center;}
#parentProfileForm #perentAddress #address{resize:none;}
#editcareDriverFrm h4{border: 1px solid #3c8dbc !important; padding: 10px !important; background: #3c8dbc; color: #fff;}
.content-header > h1 > small{color:#fff;}
.content-header > h1{padding: 10px; background: #14a6d7; color: #fff;text-transform: capitalize;}
.main-header .logo .logo-lg img {width: 120px;}
.sidebar-mini.sidebar-collapse .main-header .logo > .logo-mini img {width: 44px;}
.modal-title small {padding-left: 5px;}
.skin-blue .sidebar-menu > li > .treeview-menu{margin:0;padding:0;}
.rides_mng, .schoolCare_mng, .tutor_mng{padding:0;margin:0;}
.navbar-nav > .user-menu > .dropdown-menu > .user-footer .pull-right {float: none !important; margin: 0 auto;}
.navbar-nav > .user-menu > .dropdown-menu > .user-footer .pull-left {width: 100%; float: left !important; margin-bottom: 10px;}
.navbar-nav > .user-menu > .dropdown-menu > .user-footer{text-align: center;}
#addPopUp {background: #ee4495; border-color: #ee4495; border-radius: 20px;}
.btn:hover {background: #fff !important; color: #292929 !important;}
.btn {position: relative; cursor: pointer; transition: 800ms ease all; outline: none;}
.dataTables_wrapper .dataTables_filter input {margin-left: 0.5em; height: 33px; border-radius: 20px; box-shadow: none; border: 1px solid #000; padding: 0 30px 0 10px;}
.btn-sm.btn-default, .btn.btn-sm.btn-success, .btn.btn-sm.btn-info, .btn.btn-sm.btn-danger{border-radius:50%;margin:3px !important;}
.btn.btn-info {background: #ee4495; border-color: #ee4495;}
.btn.btn-default {background-color: #14a6d7; color: #fff; border-color: #14a6d7;}
.modal-footer .btn.btn-secondary{background-color: #14a6d7;border:1px solid #14a6d7;color:#fff;}

.navbar-custom-menu > .navbar-nav > li > .dropdown-menu {right: 10px;width: auto; }
.sidebar-open .content-wrapper, .sidebar-open .right-side, .sidebar-open .main-footer{transform: translate(270px, 0);}
.sidebar-menu .treeview-menu > li br {display: none;}
.sidebar-menu .treeview-menu > li span {margin-left:5px;}
.sidebar-menu .treeview-menu > li {margin-left: 2px; white-space: normal;}
.sidebar-menu .treeview-menu > li span {margin-left: 0!important; margin-right: 4px;}
.btn.btn-sm.btn-inactive-enable{margin:3px 0 ;}
.btn.btn-sm.btn-active-disable {margin: 3px 0;}
.btn::after {content: ""; position: absolute; top: 50%; width: 0; height: 0; left: 50%; background-color: rgba(255, 255, 255, 0.3); border-radius: 50%; transition: .8s all; }
.btn:hover::after {height: 100%; width: 100%; top: 0; left: 0;}
.main-footer {position: fixed;bottom: 0px;width: 100%;left: 0px;}
.col-md-6.rid_tim label{float:left; width: auto; padding-right: 10px;}
.col-md-6.rid_tim {width: 50%; float: left;}
.content-header > h1 i {margin-right: 5px;}
#manageNotifModal #message{width:100%;height:100px;resize:none;overflow:auto;}
.modal-dialog .col-md-6 {width: 50%; float: left;}
.modal_confirm .modal-body.inner_body {text-align: center;}
.modal_confirm .modal-dialog {width: 280px;}
.ui-autocomplete {z-index: 5000;overflow-y: scroll; overflow-x: hidden;height:85px;}
 textarea {resize: none;}
 .content-wrapper .modal .modal-dialog{margin: 8% auto 0px auto;}
 #serviceList-grid_info {padding: 5px 15px; }
 .dataTables_length{padding: 5px 15px;padding-left: 0px; }
 .dataTables_wrapper{padding:10px;}
 #LoadingDiv img {margin-top: 15%; }
 .notifilist table.dataTable tbody td{padding: 8px 10px; max-width: 100px;overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
#notifListModal #message {overflow: hidden; word-wrap: break-word; white-space: normal; }
.btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus{outline: none;}
input:focus, textarea:focus, select:focus {outline:none;}
*:focus {outline: none; }
select, select.form-control {
    background-image: url(http://162.144.204.188/~etpl2013/Demo/tulii/assets/images/60995.png);
    background-repeat: no-repeat;
    background-size: 15px;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-position: calc(100% - 5px);
    padding-right: 25px;
    padding-left:5px;
    border: 1px solid #ccc;
}

_::-moz-svg-foreign-content, :root select, select.form-control{background-position:right;}




.dataTables_filter label{position: relative;}
.dataTables_filter label button#clearText{right: 5px;top:0;}
.dataTables_filter{position:relative;}
.form-control.kidgender {min-width: 85px;}
.slider_table table td img {max-height: 80px;}
#bookingList-grid_wrapper{padding-bottom:30px;padding:10px;}
table.dataTable{border-collapse:collapse;}
select, select.form-control {
	-webkit-appearance: none;
	-moz-appearance: none;
	-o-appearance: none;
	appearance: none;
}
select::-ms-expand {
    display: none;
}
input::-ms-clear {
    display: none;
}
input::-ms-clear, input::-ms-reveal {
    display: none;
}
input[type=file]:focus, input[type=checkbox]:focus, input[type=radio]:focus {
    outline: none !important;
    outline-offset: 0px;
}

.skin-blue .wrapper .content-wrapper .content .modal .modal-dialog .modal-content .modal-body .col-md-6 .form-group input[type="radio"]{margin-right: 3px;margin-left: 20px;}
_:-ms-fullscreen, :root .content {padding-right:25px;}
_:-ms-fullscreen, :root .main-header .navbar-custom-menu, .main-header .navbar-right {padding-right:15px;}
_:-ms-fullscreen, :root .main-header select, select.form-control {
	-webkit-appearance: none;
	-moz-appearance: none;
	-o-appearance: none;
	appearance: none;
}
.custombox {
    display: block;
    position: relative;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;}
.custombox input[type="checkbox"] {position: absolute; opacity: 0; cursor: pointer; width: 25px; height: 25px; margin: 0; z-index: 9;}
.custombox input[type="checkbox"] + .checkspan {position: absolute; top: 0; left: 0; height: 25px; width: 25px; background-color: #eee;}
.custombox input[type="checkbox"] + .checkspan {background: #ccc;}
.custombox input:checked + .checkspan{background-color: #2196F3;}
.custombox input[type="checkbox"]:checked + .checkspan::after{display:block;}
.custombox input[type="checkbox"] + .checkspan::after {display: none;
content: "\f00c"; position: absolute; top: 3px; left: 4px; color: #fff; font-family: "fontawesome"; font-size: 15px;}
#userModal #userForm #categoryDiv {float: left; width: 100%; }