*{margin:0; padding:0; }
html{width: 100%; height: 100%;position: relative;}
body{width: 100%; height: 100%;}
img{margin:0;padding:0;}
b, strong {font-weight: 600; }
.login-page, .register-page{float: left;position: relative;}
.login-box, .register-box {width: 1000px; display: table; z-index: 99; position: absolute; left: 50%; margin: 0 0 0 0; right: 50%; top: 50%; bottom: 50%; transform: translate(-50%,-50%);-webkit-transform: translate(-50%,-50%); }
.login-box-body, .register-box-body{float: right;margin-right:10%;width: 450px;text-align: center;padding:40px;box-shadow: 10px 10px 10px rgba(12, 12, 12, 0.30196078431372547);}
.login-logo, .register-logo {text-align: center; float: left; top: 30%; position: absolute;}
.login-img{width:350px;min-width: 200px;}

.login-page .form-group.has-feedback + .row .col-xs-4{width: 100%;}

.login-page .form-group.has-feedback + .row .col-xs-4 .btn.btn-primary.btn-block.btn-flat {border-color: #ee4495;background-color: #ee4495;width: 130px;    border-radius: 4px;height: 35px;float: none;margin: 0 auto 20px;text-transform: uppercase;}
.login-page .form-group.has-feedback + .row .col-xs-4 .btn.btn-primary.btn-block.btn-flat:hover {border-color: #ee4495; color:#ee4495;background-color: #fff;}
.login-page .has-feedback .form-control{height:40px;}
.login-page .form-control-feedback{width:40px;height:40px;line-height:40px;color: #ee4495;font-size: 16px;}
.login-box-msg, .register-box-msg{font-size: 20px; font-weight: 600;text-transform: uppercase;}

.login_wrapper::after {content: "";
width: 100%; 
position: fixed;
height: 100%;
background-image: linear-gradient(120deg, rgba(0, 165, 212, 0.4) 20%, rgba(238, 68, 149, 0.8) 80%);
background-image: -webkit-linear-gradient(0deg, rgba(0, 165, 212, 0.4) 20%, rgba(238, 68, 149, 0.8) 80%);
background-image: -o-linear-gradient(120deg, rgba(0, 165, 212, 0.4) 20%, rgba(238, 68, 149, 0.8) 80%);
}

.bg-green, .callout.callout-success, .alert-success, .label-success, .modal-success .modal-body {background-color: #00a5d4 !important; border-color: #00a5d4;}
.login_wrapper {float: left; width: 100%; position: relative;height:100%; }
.login-box:hover .login-logo {animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both; transform: translate3d(0, 0, 0); backface-visibility: hidden; perspective: 1000px;}



.main-sidebar, .left-side{width: 270px;}
.main-header > .navbar{margin-left: 270px;}
.main-header .logo{
    width: 270px;
    background-image: url(../images/logo-bg.jpg);
    background-size: 100%;
    background-repeat-x: repeat;	
}
.content-wrapper, .right-side, .main-footer {margin-left:270px;}

.skin-blue .sidebar-menu > li > a .pull-right-container {right: 10px;     top: 11px; position: absolute; }
.sidebar-mini.sidebar-collapse .sidebar-menu > li:hover > a > span:not(.pull-right), .sidebar-mini.sidebar-collapse .sidebar-menu > li:hover > .treeview-menu{width: 240px;}
.sidebar-mini.sidebar-collapse .sidebar-menu > li:hover > a > span.pull-right-container {background: transparent; margin-top: 5px;}
.navbar-nav > .user-menu > .dropdown-menu > li.user-header > img {margin-top: 10px;height:50px;width: 50px;}
.navbar-nav > .user-menu > .dropdown-menu > .user-footer{    background-color: #ffffff;}
.skin-blue .main-header li.user-header {height:auto !important;float:left;width:100%;padding: 10px 10px 0 !important;
    background: rgb(255, 255, 255);

}
.navbar-nav > .user-menu > .dropdown-menu > .user-footer .btn-default {
    color: #fff;
    background-color: #ffffff;
    border-radius: 4px;
    color: #ee4495;	
}
.navbar-nav > .user-menu > .dropdown-menu > .user-footer .btn-default:hover {color:#ee4495;}
#table {margin: 20px 0;}
#table_wrapper{padding:10px;}
table.dataTable, table.dataTable th, table.dataTable td{border:1px solid #ccc;}
.form-control{border-radius:4px !important;}
.modal-title{text-align:center;}
.modal-header .close {
    margin-top: 5px;
    opacity: 1;
    text-shadow: none;
    color: #fff;
}
.box{padding: 10px 0;}

.dataTables_wrapper .dataTables_length, .dataTables_wrapper .dataTables_filter, .dataTables_wrapper .dataTables_info, .dataTables_wrapper .dataTables_processing, .dataTables_wrapper .dataTables_paginate{margin: 0px 0 5px;}
.skin-blue .sidebar-menu > li.header {color: #fff;background: #3e6b85; text-align: center;}
#parentProfileForm #perentAddress #address{resize:none;}
#editcareDriverFrm h4{border: 1px solid #3c8dbc !important; padding: 10px !important; background: #3c8dbc; color: #fff;}
.content-header > h1 > small {
    color: #464646;
}
.content-header > h1 {
    padding: 10px;
    background: #ffffff;
    color: #464646;
    text-transform: capitalize;
}
.main-header .logo .logo-lg img {width: 120px;}
.sidebar-mini.sidebar-collapse .main-header .logo > .logo-mini img {width: 44px;}
.modal-title small {padding-left: 5px;}
.skin-blue .sidebar-menu > li > .treeview-menu{margin:0;padding:0; background: #e6e6e6;}
.rides_mng, .schoolCare_mng, .tutor_mng{padding:0;margin:0;}
.navbar-nav > .user-menu > .dropdown-menu > .user-footer .pull-right {float: none !important; margin: 0 auto;}
/* .navbar-nav > .user-menu > .dropdown-menu > .user-footer .pull-left {width: 100%; float: left !important; margin-bottom: 10px;} */
.navbar-nav > .user-menu > .dropdown-menu > .user-footer{text-align: center;}
#addPopUp {background: #ee4495; border-color: #ee4495; border-radius: 4px;}
.btn:hover {background: #fff !important; color: #292929 !important;}
.btn {position: relative; cursor: pointer; transition: 800ms ease all; outline: none;}
.dataTables_wrapper .dataTables_filter input {
    margin-left: 0.5em;
    height: 34px;
    border-radius: 4px;
    box-shadow: none;
    border: 1px solid #ccc;
    padding: 0 30px 0 10px;
}
.btn-sm.btn-default, .btn.btn-sm.btn-success, .btn.btn-sm.btn-info, .btn.btn-sm.btn-danger{    border-radius: 4px;margin:3px !important;}
/* .btn.btn-default {background-color: #14a6d7; color: #fff; border-color: #14a6d7;} */
.modal-footer .btn.btn-secondary{background-color: #14a6d7;border:1px solid #14a6d7;color:#fff;}

.navbar-custom-menu > .navbar-nav > li > .dropdown-menu {right: 10px;width: 260px;     border-color: #d4d4d4;}
.sidebar-open .content-wrapper, .sidebar-open .right-side, .sidebar-open .main-footer{transform: translate(270px, 0);}
.sidebar-menu .treeview-menu > li br {display: none;}
.sidebar-menu .treeview-menu > li span {margin-left:5px;}
.sidebar-menu .treeview-menu > li {margin-left: 2px; white-space: normal;}
.sidebar-menu .treeview-menu > li span {margin-left: 0!important; margin-right: 4px;}
.btn.btn-sm.btn-inactive-enable{margin:3px 0 ;}
.btn.btn-sm.btn-active-disable {margin: 3px 0;}
.btn::after {content: ""; position: absolute; top: 50%; width: 0; height: 0; left: 50%; background-color: rgba(255, 255, 255, 0.3); border-radius: 50%; transition: .8s all; }
.btn:hover::after {height: 100%; width: 100%; top: 0; left: 0;}
.main-footer {position: fixed;bottom: 0px;width: 100%;left: 0px;}
.col-md-6.rid_tim label{float:left; width: auto; padding-right: 10px;}
.col-md-6.rid_tim {width: 50%; float: left;}
.content-header > h1 i {margin-right: 5px;}
#manageNotifModal #message{width:100%;height:100px;resize:none;overflow:auto;}
.modal-dialog .col-md-6 {width: 50%; float: left;}
.modal_confirm .modal-body.inner_body {text-align: center;}
.modal_confirm .modal-dialog {width: 280px;}
.ui-autocomplete {z-index: 5000;overflow-y: scroll; overflow-x: hidden;height:85px;}
 textarea {resize: none;}
 /* .content-wrapper .modal .modal-dialog{margin: 8% auto 0px auto;} */
 #serviceList-grid_info {padding: 5px 15px; }
 .dataTables_length{padding: 5px 15px;padding-left: 0px; }
 .dataTables_wrapper{padding:10px;}
 #LoadingDiv img {margin-top: 15%; }
 .notifilist table.dataTable tbody td{padding: 8px 10px; max-width: 100px;overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
#notifListModal #message {overflow: hidden; word-wrap: break-word; white-space: normal; }
.btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus{outline: none;}
input:focus, textarea:focus, select:focus {outline:none;}
*:focus {outline: none; }
select, select.form-control {
    background-image: url(http://162.144.204.188/~etpl2013/Demo/tulii/assets/images/60995.png);
    background-repeat: no-repeat;
    background-size: 15px;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-position: calc(100% - 5px);
    padding-right: 25px;
    padding-left:5px;
    border: 1px solid #ccc;
}

_::-moz-svg-foreign-content, :root select, select.form-control{background-position:right;}




.dataTables_filter label{position: relative;}
.dataTables_filter label button#clearText{right: 5px;    top: 4px;}
.dataTables_filter label button#clearViewText{right: 5px;    top: 4px;}
.dataTables_filter{position:relative;}
.form-control.kidgender {min-width: 85px;}
.slider_table table td img {max-height: 80px;}
#bookingList-grid_wrapper{padding-bottom:30px;padding:10px;}
table.dataTable{border-collapse:collapse;}
select, select.form-control {
	-webkit-appearance: none;
	-moz-appearance: none;
	-o-appearance: none;
	appearance: none;
}
select::-ms-expand {
    display: none;
}
input::-ms-clear {
    display: none;
}
input::-ms-clear, input::-ms-reveal {
    display: none;
}
input[type=file]:focus, input[type=checkbox]:focus, input[type=radio]:focus {
    outline: none !important;
    outline-offset: 0px;
}

.skin-blue .wrapper .content-wrapper .content .modal .modal-dialog .modal-content .modal-body .col-md-6 .form-group input[type="radio"]{margin-right: 3px;margin-left: 0px;}
_:-ms-fullscreen, :root .content {padding-right:25px;}
_:-ms-fullscreen, :root .main-header .navbar-custom-menu, .main-header .navbar-right {padding-right:15px;}
_:-ms-fullscreen, :root .main-header select, select.form-control {
	-webkit-appearance: none;
	-moz-appearance: none;
	-o-appearance: none;
	appearance: none;
}
.custombox {
    display: block;
    position: relative;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;}
.custombox input[type="checkbox"] {
	position: absolute;
    opacity: 0;
    cursor: pointer;
    width: 15px;
    height: 15px;
    margin: 0;
    z-index: 9;	
}
.custombox input[type="checkbox"] + .checkspan {   
	position: absolute;
    top: 0;
    left: 0;
    height: 17px;
    width: 17px;
    background-color: #eee;
    border-radius: 2px;
}
.custombox input[type="checkbox"] + .checkspan {background: #fff;border: 1px solid #969696;}
.custombox input:checked + .checkspan{   
	background-color: #37a7e0;
    border-color: #37a7e0;
}
.custombox input[type="checkbox"]:checked + .checkspan::after{display:block;}
.custombox input[type="checkbox"] + .checkspan::after {
display: none;
    content: "\f00c";
    position: absolute;
    top: 1px;
    left: 3px;
    color: #fff;
    font-family: "fontawesome";
    font-size: 10px;
}
/***********************15 may 2018***************************/
.login-page .has-feedback .form-control {
    padding-left: 42.5px;
    padding-right: 0;
}
.login-page .form-control-feedback{
	    right: auto;
}
.skin-blue .main-header .navbar {
    background-color: #ffffff;
}
.skin-blue .main-header .navbar .nav>li>a {
    color: #d938a0;
	    text-transform: uppercase;
}
.skin-blue .main-header .navbar .sidebar-toggle {
    color: #d938a0;
}
.skin-blue .wrapper, .skin-blue .main-sidebar, .skin-blue .left-side {
    background-color: #ffffff;
}
.skin-blue .sidebar-menu>li:hover>a, .skin-blue .sidebar-menu>li.active>a {
    color: #fff;
    background: #2aa6dd;
    border-left-color: #1b2227;
}
.skin-blue .sidebar-menu>li:hover>a .fa, .skin-blue .sidebar-menu>li.active>a .fa{
	color: #fff;	
}
.sidebar-menu>li>a>.fa, .sidebar-menu>li>a>.glyphicon, .sidebar-menu>li>a>.ion {
    color: #d03691;
}
.skin-blue .sidebar a {
    color: #1b2227;
}
.skin-blue .sidebar-menu>li>a {
    border-bottom: 1px solid #e6e6e6;
}
.skin-blue .treeview-menu>li>a {
    color: #1b2227;
    font-size: 13px;
}
.sidebar-menu .treeview-menu>li>a>.fa{
	    color: #d03691;
}
.skin-blue .treeview-menu>li>a:hover{
    color: #37a7e0;
}
.skin-blue .treeview-menu>li>a:hover i{
    color: #37a7e0;	
}
.navbar-nav>.user-menu>.dropdown-menu>li.user-header>p {
    color: rgb(0, 0, 0);
    text-transform: uppercase;
}
.col-lg-3 .small-box{
    background: rgba(224,60,156,1);
    background: -moz-linear-gradient(top, rgba(224,60,156,1) 0%, rgba(224,60,156,1) 0%, rgba(42,167,220,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(224,60,156,1)), color-stop(0%, rgba(224,60,156,1)), color-stop(100%, rgba(42,167,220,1)));
    background: -webkit-linear-gradient(top, rgba(224,60,156,1) 0%, rgba(224,60,156,1) 0%, rgba(42,167,220,1) 100%);
    background: -o-linear-gradient(top, rgba(224,60,156,1) 0%, rgba(224,60,156,1) 0%, rgba(42,167,220,1) 100%);
    background: -ms-linear-gradient(top, rgba(224,60,156,1) 0%, rgba(224,60,156,1) 0%, rgba(42,167,220,1) 100%);
    background: linear-gradient(to bottom, rgba(224,60,156,1) 0%, rgba(224,60,156,1) 0%, rgba(42,167,220,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e03c9c', endColorstr='#2aa7dc', GradientType=0 );	
}
.navbar-nav>.user-menu .user-image {
    width: 30px;
    height: 30px;
    margin-top: -5px;
    border: 2px solid #8dbcf9;
}
.skin-blue .main-header .navbar .nav>li>a:hover, .skin-blue .main-header .navbar .nav>li>a:active, .skin-blue .main-header .navbar .nav>li>a:focus, .skin-blue .main-header .navbar .nav .open>a, .skin-blue .main-header .navbar .nav .open>a:hover, .skin-blue .main-header .navbar .nav .open>a:focus {
    color: #1b2227;
    background-color: transparent;
}
.skin-blue .treeview-menu>li.active>a, .skin-blue .treeview-menu>li>a:hover {
    color: #37a7e0;
}
.skin-blue .treeview-menu>li.active>a i, .skin-blue .treeview-menu>li>a:hover i  {
    color: #37a7e0;
}
/**/
#year {
    height: 34px;
    border-radius: 2px !important;
}
select, select.form-control {
    background-size: 11px;
}
table.dataTable th {
    background-color: #3b6b84;
	color: #fff;
}
.dataTables_length select{
	    height: 34px;
}
.btn-info {
    background-color: #37a7e0;
    border-color: #37a7e0;
}
.skin-blue .main-header .navbar .sidebar-toggle:hover {
    background-color: #37a7e0;
}
.modal-title {
    text-transform: uppercase;
}
.modal-header {
    border-bottom-color: #e6e6e6;
    background: rgba(224,60,156,1);
    background: -moz-linear-gradient(right, rgba(224,60,156,1) 0%, rgba(224,60,156,1) 0%, rgba(42,167,220,1) 100%);
    background: -webkit-gradient(left right, left right, color-stop(0%, rgba(224,60,156,1)), color-stop(0%, rgba(224,60,156,1)), color-stop(100%, rgba(42,167,220,1)));
    background: -webkit-linear-gradient(right, rgba(224,60,156,1) 0%, rgba(224,60,156,1) 0%, rgba(42,167,220,1) 100%);
    background: -o-linear-gradient(right, rgba(224,60,156,1) 0%, rgba(224,60,156,1) 0%, rgba(42,167,220,1) 100%);
    background: -ms-linear-gradient(right, rgba(224,60,156,1) 0%, rgba(224,60,156,1) 0%, rgba(42,167,220,1) 100%);
    background: linear-gradient(to right, rgba(224,60,156,1) 0%, rgba(224,60,156,1) 0%, rgba(42,167,220,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e03c9c', endColorstr='#2aa7dc', GradientType=0 );
    color: #fff;
}
.modal-footer {
    border-top-color: #e5e5e5;
}
/**/
.dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
    color: #fff !important;
    border: 1px solid #49a9e6;
    background: #41a8e3 !important;
    background-image: none;
}
.btn-primary {
    background-color: #37a7e0;
    border-color: #37a7e0;
    border-radius: 4px !important;
}
.addClsStatus{
	    width: 175px;
}
.addClsAction {
	    width: 184px;
}
table.dataTable thead th, table.dataTable thead td {
    border-bottom: 1px solid #ccc;
}
.navbar-nav>.user-menu>.dropdown-menu>li.user-header>img {
    border-color: rgb(142, 189, 252);
}
label {
    font-weight: 600;
}
.setnewpass{
    margin-top: 0;
    margin-bottom: 10px;
}
#viewFaqModal .modal-dialog .col-md-6 {
    /* width: 50%; */
    /* float: left; */
    margin-bottom: 15px;
}
.required_star {
    color: red;
    margin-left: 2px;
}
/************************************/
.table>thead>tr>th {
    background-color: #3e6b85;
    color: #fff;
}
.table-bordered>thead>tr>th, .table-bordered>thead>tr>td {
    border-bottom-width: 2px;
}
#parentProfileModal .table-responsive{
    max-height: 200px;
    overflow-y: auto;	
}
.mulselect .btn-group{
	width:100%;	
}
.mulselect .multiselect{
	width:100% !important;
    text-align: left;
}
.mulselect .multiselect .caret{
	    float: right;
    margin-top: 8px;
}
.ui-widget label{
	font-weight:600;
	font-size:14px;
    font-family: 'Source Sans Pro','Helvetica Neue',Helvetica,Arial,sans-serif;
}
.ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button {
	font-size:14px;
    font-family: 'Source Sans Pro','Helvetica Neue',Helvetica,Arial,sans-serif;
}
.addbtn{
    background: #ee4495;
    border-color: #ee4495;
    border-radius: 4px;	
	color:#fff;
}
.dataTables_wrapper .dataTables_paginate .paginate_button:hover{
	background-image:none;
	    background-color: #49a9e6;
	    border-color: #49a9e6;
}
#image-gallery .prev, #image-gallery .next {
    background-color: #ffffff;
    padding: 8px 0;
    border-radius: 4px;
    z-index: 9999;
    cursor: pointer;
    box-shadow: 0 0 4px #b1b1b1;
}
.image-container .iv-snap-view {
    left: 80px;
}
.multiselect-container {
    width: 100% !important;
}