@media (max-width:1200px){
	.login-box, .register-box{width:90%;}
}



@media (max-width:991px){
	.login-logo, .register-logo {text-align: center; float: none; top: 0; position: relative; }
	.login-box-body, .register-box-body{float: none; margin: 0 auto;}
	.login-box, .register-box {position: relative; margin: 10% auto; transform: none; left: auto; right: auto; top: auto; bottom: auto; }

	}

@media (max-width:767px){

	.login-img {width: 50%; }
	.main-header .logo {width: 100%;}
	.main-header > .navbar {margin-left: 0;}
	.content-wrapper, .right-side, .main-footer{margin-left:0;}
	.main-sidebar, .left-side {-webkit-transform: translate(-270px, 0); -ms-transform: translate(-270px, 0); -o-transform: translate(-270px, 0); transform: translate(-270px, 0); }
	.content-header > h1{font-size:18px;}
	.col-md-6.rid_tim {width: 100%; float: left;margin-bottom: 5px;}
	}
@media (max-width:540px){
	.login-box-body, .register-box-body {width: 90%; }
	.modal-dialog .col-md-6 {width: 100%;}

	 }
@media (max-width:479px){
	.login-box-body, .register-box-body {padding:20px;}

	 }