.btn-active-disable{
	border-radius: 30px;
	padding: 0px 10px;
	background-color: #FFFFFF;
	border-color: #7E7E7E;
	color: #333;
} 
.btn-active-enable{
	border-radius: 30px;
	padding: 0px 10px;
	background-color: #00a65a;
	border-color: #008d4c;
	color: white;
 }
.btn-inactive-enable{
	border-radius: 30px;
	padding: 0px 10px;
	background-color: #c9302c;
	border-color: #ac2925;
	color: white;
} 
.btn-inactive-disable{
	border-radius: 30px;
	padding: 0px 10px;
	background-color: #FFFFFF;
	border-color: #7E7E7E;
	color: #333;
 }
 .error{
	color:red;
	font-weight: normal;
}
.loading{
	position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(241, 240, 240, 0.95);
    z-index: 9999;
    text-align: center;
}
img{
	margin: 1px auto;
    margin-top: 20%;
    width: 60px;
}
menu>li:hover>a, .skin-blue .sidebar-menu>li.active>a {
    color: #fff;
    background: #3c8dbc;
    border-left-color: #3c8dbc;
}
.rides_mng, .schoolCare_mng, .tutor_mng{
margin-left:6%;	
}

.doller-assign{
	position: absolute;
    left: 32px;
    top: 32px;
    font-weight: bold;
}

.dollar-symbol-add input{
	padding-left: 25px;
}

button#clearText {
    padding: 0px 4px 0px 4px;
    float: right;
    position: absolute;
    right: 14px;
    z-index: 1;
    top: 30px;
    border-radius: 50%;
    background-color: transparent;
    border: none;
    color: red;
    font-size: 24px;
}

.pac-container{
	z-index: 999999 !important;
}

.new-record {	
	font-size: 9px;
    border-radius: 25px;
    height: 25px;
    width: 25px;
    background: green;
    color: white;
    padding-left: 4px;
}

#addPopUpSerPro {
    background: #ee4495;
    border-color: #ee4495;
    border-radius: 20px;
}

.sidebar-mini.sidebar-collapse .service_magagement .sidebar-menu>li>a>span {
    display: inline-block !important;
}

.sidebar-mini.sidebar-collapse .service_magagement .sidebar-menu > li:hover > .treeview-menu{
    z-index: 1;
}

input[type="radio"] {
    margin-top: -1px;
    vertical-align: middle;
}

.word-break {
    word-break: break-word;
}

.sidebar-menu li a span{
    text-transform: capitalize;
}
#viewFaqModal .test-alignment {
    width: 50%;    
}

/*.skin-blue .sidebar-menu>li.active.removeActiveClass>a {
    background-color: transparent;
}*/

/*.skin-blue .sidebar-menu>li.active.removeActiveClass>a {
    color: #fff;
    background: #3c8dbc;
    border-left-color: #3c8dbc;
}*/

.skin-blue .sidebar-menu>li.active.removeActiveClass>a {
    background-color: transparent;
}