@import url(//fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900);
html, body {
	min-width:300px;
	height:auto;
	background:transparent;
}

body {
	overflow:hidden;
}
#search-results{
	padding:20px 10px 0px 5px;
	overflow:hidden;
}
#search-results iframe html{
	border:none;
}
#search-results iframe {
	min-width:300px;
}

h4{
	padding-bottom: 10px;
	margin: 0;
}
ol.search_list {
	margin-left: 0;
    padding-left: 10px;
	list-style-type:none;
	counter-reset: ol;
    padding-top: 20px;
}
ol.search_list li:before {
content: counter(ol) ".";
counter-increment: ol;
float:left;
display:block;
width:20px;
text-align:right;	
padding-right:10px;
margin:0px 0px 0 -30px
}
ol.search_list li {
	padding-bottom:40px;
	margin-left:15px;
}
span.match {
	color:#45ad05;
	display:block;
	font-weight:bold;
}
span.search {
	color:#45ad05;

}
.search_link{
    font:bold 16px 'Roboto';
    color:#333;
    position:relative;
    top:-2px;
	text-decoration: underline;
}
.search_link:hover{
    color:#45ad05;
	text-decoration: none;
}

