@import url(//fonts.googleapis.com/css?family=Roboto:400,900,700,300);
@import url(//fonts.googleapis.com/css?family=Roboto+Slab:400,300,700);
body {
	background: #ffffff;
	font: 14px 'Roboto', "Helvetica Neue", Helvetica, Arial, sans-serif;
	line-height: 1.428571429;
	color: #333333;
}
a {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
a:focus {
	text-decoration: none;
	background: none;
}
a[href^="tel:"] {
 color: inherit;
 text-decoration: none;
}
textarea, input[type="text"], input[type="email"], input[type="search"], input[type="password"] {
	-webkit-appearance: none;
	-moz-appearance: caret;
}
p {
	margin-bottom: 25px;
	font-weight: 300;
	line-height: 23px;
}
h1.navbar-brand_ {
	margin: 0;
	padding: 0;
	float: left;
}
h1.navbar-brand_ a {
	display: inline-block;
}
h1.navbar-brand_ span {
	display: none;
}
h2 {
	font: bold 35px/35px 'Roboto Slab';
	color: #45ad05;
	margin: 0 0 43px 0;
	width: 100%;
	text-align: center;
}
h2.indent {
	margin-bottom: 27px;
}
h3 {
	font: 300 19px/27px 'Roboto Slab';
	color: #030303;
	margin: 0 0 18px 0;
}
.extra-wrap {
	overflow: hidden;
}
.global {
	padding: 0;
	background: #ffffff;
}
.global.indent {
	padding: 100px 0 0 0;
	background: #f5f4f5 url(../img/bg_pic5.jpg) center 0 no-repeat;
}
.center {
	text-align: center;
}
/*-----menu-----*/
nav.tm_navbar {
	background: none;
	border: none;
	padding: 0;
	margin: 33px 0 0 0;
	float: right;
	min-height: 0;
}
nav.tm_navbar li {
	float: left;
	font-size: 14px;
	line-height: 23px;
	padding: 0;
	margin-left: 25px;
}
nav.tm_navbar li:first-child {
	margin-left: 0;
}
nav.tm_navbar li a {
	position: relative;
	padding: 0;
	font: 25px 'Roboto';
	color: #ffffff;
	background: none;
	-webkit-transition: all 0.35s ease;
	transition: all 0.35s ease;
}
nav.tm_navbar li.active > a {
	color: #45ad05;
	background: none;
}
nav.tm_navbar li > a:hover {
	color: #45ad05;
	background: none;
	-webkit-transition: all 0.35s ease;
	transition: all 0.35s ease;
}
nav.tm_navbar .sfHover > a {
	color: #45ad05;
	background: none;
	-webkit-transition: all 0.35s ease;
	transition: all 0.35s ease;
}
nav.tm_navbar li span {
	height: 4px;
	background: url(../img/menu-marker.png) center 0 no-repeat;
	width: 100%;
	text-align: center;
	position: absolute;
	left: 0;
	bottom: -3px;
}
/*-----subMenu1-----*/
nav.tm_navbar .sub-menu > ul {
	position: absolute;
	display: none;
	width: 203px;
	left: 0;
	top: 65px;
	list-style: none !important;
	zoom: 1;
	z-index: 11;
	background: #242424;
	padding: 0;
	margin: 0;
	text-align: left;
}
nav.tm_navbar .sub-menu > ul li {
	background: none;
	border: none;
	width: auto;
	float: none;
	margin: 0;
	padding: 0;
	display: block;
}
nav.tm_navbar .sub-menu > ul li a {
	background: none;
	padding: 8px 0 8px 10px;
	margin: 0;
	float: none;
	display: block;
	width: auto;
	text-align: left;
	font: 13px 'Roboto', "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #ffffff;
	-webkit-transition: all 0.25s;
	transition: all 0.25s;
}
nav.tm_navbar .sub-menu > .submenu li span {
	display: inline-block;
	background: url(../img/menu-marker2.png) no-repeat;
	width: 6px;
	height: 7px;
	position: relative;
	left: 9px;
	top: 0;
}
nav.tm_navbar .sub-menu > ul li a:hover {
	text-decoration: none;
	color: #ffffff !important;
	background: #45ad05 !important;
	-webkit-transition: all 0.25s;
	transition: all 0.25s;
}
nav.tm_navbar .sub-menu > ul li.sfHover > a {
	text-decoration: none;
	color: #ffffff !important;
	background: #45ad05 !important;
}
/*-----subMenu2-----*/
nav.tm_navbar .sub-menu ul ul {
	position: absolute;
	display: none;
	width: 203px;
	left: 204px;
	top: 0;
	list-style: none !important;
	zoom: 1;
	z-index: 11;
	background: #242424;
	padding: 0;
	margin: 0;
	text-align: left;
}
nav.tm_navbar .sub-menu ul ul li a {
	background: none;
	padding: 8px 0 8px 10px;
	margin: 0;
	float: none;
	display: block;
	font: 13px 'Roboto', "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #ffffff;
	-webkit-transition: all 0.25s;
	transition: all 0.25s;
}
nav.tm_navbar .sub-menu > ul li > ul li a:hover {
	text-decoration: none;
	color: #ffffff !important;
	background: #45ad05 !important;
}
.select-menu {
	display: none !important;
}
/*-----content-----*/
header {
	margin: 0;
	padding: 21px 0 17px 0;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	z-index: 11;
	background: #000000;
	background: rgba(0, 0, 0, 0.8);
}
header.indent {
	background: url(../img/bg_pic4.jpg) center 0 no-repeat !important;
	position: relative;
}
footer {
	background: url(../img/bg_pic2.jpg) center bottom fixed no-repeat;
	padding: 61px 0 50px 0;
}
footer p {
	font: 14px 'Roboto', "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #f8f8f8;
	margin-bottom: 15px;
	float: right;
	width: 100%;
	text-align: right;
}
footer p a {
	font: 14px 'Roboto', "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #f8f8f8;
	-webkit-transition: all 0.25s;
	transition: all 0.25s;
}
footer p a:hover {
	color: #45ad05;
}
footer em {
	font-style: normal;
}
.foo_menu {
	padding: 0;
	margin: -5px 0 10px 0;
	list-style: none;
	float: right;
}
.foo_menu li {
	float: left;
	margin-left: 25px;
}
.foo_menu li:first-child {
	margin-left: 0;
}
.foo_menu li a {
	font: 25px 'Roboto';
	color: #ffffff;
	-webkit-transition: all 0.25s;
	transition: all 0.25s;
}
.foo_menu li a:hover {
	color: #45ad05;
}
.foo_menu li.active > a {
	color: #45ad05;
}
#toTop {
	display: none;
	width: 48px;
	height: 48px;
	background: url(../img/top.png) 0 top no-repeat;
	position: fixed;
	margin-right: -650px !important;
	right: 50%;
	bottom: 50px;
	z-index: 999;
}
#toTop:hover {
	background: url(../img/top.png) 0 bottom no-repeat;
}
.follow_icon {
	padding: 0;
	margin: 0;
	float: right;
	list-style: none;
}
.follow_icon li {
	float: left;
	margin-left: 17px;
}
.follow_icon li a {
	font-size: 23px;
	color: #ffffff;
	width: 48px;
	height: 48px;
	line-height: 48px;
	border-radius: 100%;
	text-align: center;
	background: #2f2f2f;
	background: rgba(47, 47, 47, 0.9);
	-webkit-transition: all 0.25s;
	transition: all 0.25s;
	display: block;
}
.follow_icon li a:hover {
	color: #000000;
	background: #d0d0d0;
}
.who-box .col-lg-4 {
	text-align: center;
	margin-bottom: 103px;
}
.privacyBox {
	padding: 58px 0 74px 0;
	margin: 0 0 39px 0;
	border-bottom: 1px solid #dfdfdf;
	background: #f8f8f8;
}
.blog-box {
	padding: 63px 0 40px 0;
	position: relative;
}
.comment-box {
	padding: 11px 0 26px 0;
	background: #fed46f;
}
.comment-box figure {
	border-radius: 100%;
	float: left;
	margin-right: 45px;
	border: 3px solid #fee097;
}
.comment-box figure img {
	border-radius: 100%;
}
.comment-box .extra-wrap {
	padding-top: 15px;
}
.comment-box p {
	font-size: 14px;
	font-style: italic;
	color: #2e2e2e;
	margin-bottom: 0;
}
.comment-box p a {
	font: bold italic 14px 'Roboto', "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #2e2e2e;
}
.comment-box p a:hover {
	text-decoration: underline;
}
.block-box {
	padding: 37px 0 29px 0;
	background: #3f3f3f;
}
.block-box p {
	color: #ffffff;
	font-size: 14px;
	margin-bottom: 0;
}
.trainerBox {
	margin-bottom: 30px;
	position: relative;
	display: block;
}
.trainerBox figure {
	margin: 0;
}
.trainerBox figure a {
	position: relative;
	display: block;
	width: 100%;
	-webkit-transition: all 0.4s ease;
	transition: all 0.4s ease;
}
.trainerBox figure a:hover {
	opacity: 0.7;
	filter: alpha(opacity=70);
}
.trainerBox figure a:hover img {
	-webkit-transform: rotate(-5deg);
	transform: rotate(-5deg);
}
.trainerBox figure img {
	width: 100%;
	top: 0;
	left: 0;
	-webkit-transition: all 0.35s ease;
	transition: all 0.35s ease;
	outline: 1px solid transparent;
}
.testimBox {
	background: #ffffff;
	padding: 45px 0 55px 0;
}
.testimBox h2 {
	margin-bottom: 51px;
}
.links-box {
	background: url(../img/bg_pic6.jpg) center top fixed no-repeat;
	padding: 50px 0 61px 0;
}
.links-box .box {
	background: #45ad05;
	background: rgba(69, 173, 5, 0.7);
	padding: 50px 42px 0 42px;
}
.links-box .box h2 {
	color: #ffffff;
}
.latest-box {
	background: url(../img/bg_pic1.jpg) center top fixed no-repeat;
	padding: 57px 0 48px 0;
	margin-bottom: 58px;
}
.latest-box h3 {
	color: #ffffff;
}
.latest-box h3 > span {
	background: #ffffff;
}
.latest-box h5 {
	color: #ffffff;
}
.latest-box p {
	color: #ffffff;
}
.servicesBox {
	padding: 68px 0 20px 0;
	border-top: 1px solid #eeefef;
	background: #ffffff;
}
.servicesBox .col-lg-4 {
	margin-bottom: 65px;
}
.servicesBox .col-lg-4 p {
	margin-bottom: 27px;
}
.servicesBox hr {
	border-top: 1px solid #eee;
	margin: 0;
}
.overviewBox {
	padding: 83px 0 33px 0;
	background: #ffffff;
}
.gallery-box {
	padding-bottom: 29px;
}
.blogBox {
	margin-bottom: 48px;
}
.about-box {
	text-align: center;
	padding: 94px 0 102px 0;
	background: url(../img/bg_pic3.jpg) center top no-repeat;
}
.about-box .title {
	font: bold 35px 'Roboto Slab';
	color: #45ad05;
	margin-bottom: 15px;
}
.about-box .description {
	font: 300 19px/27px 'Roboto Slab';
	color: #030303;
	margin-bottom: 18px;
}
.about-box p {
	margin-bottom: 27px;
}
.center-box {
	margin-top: -353px;
	margin-bottom: 50px;
}
.center-box .box .title {
	margin: 0;
	padding-left: 19px;
	background: #45ad05;
	font: bold 35px/65px 'Roboto Slab';
	color: #ffffff;
	width: 100%;
}
.center-box .box p {
	color: #ffffff;
	width: 225px;
	margin-bottom: 0;
}
.center-box em {
	position: absolute;
	top: 12px;
	right: 34px;
	display: inline-block;
	width: 118px;
	height: 285px;
	background: url(../img/bottle.png) no-repeat;
}
.center-box .box .box1 > .cont {
	background: url(../img/banner1.jpg) no-repeat;
	padding: 22px 22px 0 22px;
	min-height: 159px;
}
.center-box .box .box2 > .cont {
	background: url(../img/banner2.jpg) no-repeat;
	padding: 22px 22px 0 22px;
	min-height: 159px;
}
.center-box .box .box3 > .cont {
	background: url(../img/banner3.jpg) no-repeat;
	padding: 22px 22px 0 22px;
	min-height: 159px;
}
.center-box .box .more {
	padding: 0 22px;
	line-height: 79px;
	background: #000000;
	background: rgba(0, 0, 0, 0.8);
}
.articles-box {
	background: url(../img/bg_pic1.jpg) center top fixed no-repeat;
	padding: 50px 0 61px 0;
	margin-bottom: 44px;
}
.articles-box .title {
	font: bold 35px/35px 'Roboto Slab';
	color: #ffffff;
	margin-bottom: 12px;
}
.articles-box p {
	color: #ffffff;
	margin-bottom: 18px;
}
.articles-box .box1 {
	background: #000000;
	background: rgba(0, 0, 0, 0.7);
	padding: 50px 40px;
	text-align: center;
}
.articles-box .box1 .description {
	font: 300 19px/27px 'Roboto Slab';
	color: #45ad05;
}
.articles-box .box2 {
	background: #45ad05;
	background: rgba(69, 173, 5, 0.7);
	padding: 50px 40px;
	text-align: center;
}
.articles-box .box2 .description {
	font: 300 19px/27px 'Roboto Slab';
	color: #000000;
}
.follow_list {
	padding: 0;
	margin: 0;
	list-style: none;
}
.follow_list li {
	margin-bottom: 23px;
	display: block;
}
.follow_list li span {
	float: left;
	font-size: 25px;
	color: #ce3b28;
	margin-right: 16px;
}
.follow_list li a {
	font: 18px 'Roboto', "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #ffffff;
	-webkit-transition: all 0.25s;
	transition: all 0.25s;
}
.follow_list li a:hover {
	color: #ce3b28;
}
.headlines-box {
	background: #f8f8f8;
	padding-top: 58px;
	padding-bottom: 54px;
}
.history-box {
	text-align: center;
	padding-bottom: 102px;
}
.banner-box {
	margin-top: 8px;
}
.banner-box .col-lg-6 {
	margin-bottom: 30px;
}
.banner-box figure a {
	display: block;
	-webkit-transition: all 0.25s;
	transition: all 0.25s;
}
.banner-box figure a:hover {
	opacity: 0.7;
	filter: alpha(opacity=70);
}
.banner-box figure img {
	width: 100%;
}
.banner-box hr {
	margin: 80px 0 0 0;
	border-top: 1px solid #cdcdcd;
}
.advantages-box {
	border-bottom: 1px solid #dfdfdf;
	margin-bottom: 39px;
}
.values-box p {
	color: #737885;
}
.news-box {
	background: #ffffff;
	padding-top: 44px;
}
.news-box h3 {
	margin-bottom: 34px;
}
.error-box {
	padding-bottom: 7px;
}
.errorBox {
	padding-bottom: 102px;
}
.errorBox .title {
	font: bold 186px/186px 'Roboto', "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #45ad05;
	text-transform: uppercase;
	margin-bottom: 6px;
}
.errorBox .description {
	font: 74px/74px 'Roboto', "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #333;
	text-transform: uppercase;
	margin-bottom: 29px;
}
/*-----thumbs-----*/
.thumb-pad0 {
	margin: 0 0 60px 0;
	overflow: hidden;
}
.thumb-pad0 .thumbnail {
	position: relative;
	margin: 0;
	border-radius: 0;
	box-shadow: none;
	border: none;
	padding: 0;
	background: none;
	overflow: hidden;
	text-align: center;
}
.thumb-pad0 .thumbnail .caption {
	padding: 0;
	overflow: hidden;
}
.thumb-pad0 .thumbnail .caption p {
	margin-top: 8px;
	margin-bottom: 24px;
}
.thumb-pad0 .thumbnail .caption .lnk {
	font: 19px/19px 'Roboto Slab';
	color: #030303;
	-webkit-transition: all 0.25s;
	transition: all 0.25s;
}
.thumb-pad0 .thumbnail .caption .lnk:hover {
	color: #45ad05;
}
.thumb-pad0 figure {
	margin: 0 0 20px 0;
	float: none;
}
.thumb-pad1-1 {
	margin: 0 0 60px 0;
	overflow: hidden;
}
.thumb-pad1-1 .thumbnail {
	position: relative;
	margin: 0;
	border-radius: 0;
	box-shadow: none;
	border: none;
	padding: 0;
	background: none;
	overflow: hidden;
	text-align: center;
}
.thumb-pad1-1 .thumbnail .caption {
	padding: 0;
	overflow: hidden;
}
.thumb-pad1-1 figure {
	margin: 0 0 28px 0;
	float: none;
}
.thumb-pad1-1 figure img {
	width: 100%;
}
.thumb-pad1 {
	margin: 0 0 40px;
	overflow: hidden;
}
.thumb-pad1 .thumbnail {
	position: relative;
	margin: 0;
	border-radius: 0;
	box-shadow: none;
	border: none;
	padding: 0;
	background: none;
	overflow: hidden;
}
.thumb-pad1 .thumbnail .caption {
	padding: 0;
	overflow: hidden;
}
.thumb-pad1 .thumbnail .caption h5 {
	margin-bottom: 15px;
}
.thumb-pad1 .thumbnail .caption p {
	color: #737885;
}
.thumb-pad1 figure {
	margin: 0 31px 0 0;
	float: left;
}
.thumb-pad2 {
	margin: 0;
	overflow: hidden;
}
.thumb-pad2 .thumbnail {
	position: relative;
	margin: 0;
	border-radius: 0;
	box-shadow: none;
	border: none;
	padding: 0;
	background: none;
}
.thumb-pad2 .thumbnail .caption {
	padding: 0;
	overflow: hidden;
}
.thumb-pad2 .thumbnail .caption p {
	color: #737885;
}
.thumb-pad2 figure {
	margin: 0 0 13px 0;
}
.thumb-pad2 figure img {
	width: 100%;
}
.thumb-pad3 {
	overflow: hidden;
	margin-bottom: 30px;
}
.thumb-pad3 .thumbnail {
	position: relative;
	padding: 0;
	margin: 0;
	border: none;
	border-radius: 0;
	box-shadow: none;
	background: none;
}
.thumb-pad3 .thumbnail .caption {
	padding: 0;
	color: #333333;
	overflow: hidden;
}
.thumb-pad3 .thumbnail .caption .title {
	color: #4a837c;
	font: bold 18px 'Roboto', "Helvetica Neue", Helvetica, Arial, sans-serif;
	margin-bottom: 12px;
}
.thumb-pad3 figure {
	margin: 6px 23px 0 0;
	float: left;
}
.thumb-pad3 figure img {
	width: 100%;
}
.popular-box {
	padding-bottom: 18px;
	margin-bottom: 44px;
	border-bottom: 1px solid #e8e8e8;
}
.popular-box.indent {
	border-bottom: none;
	margin-bottom: 56px;
	padding-bottom: 0;
}
.thumb-pad4 {
	margin: 0;
	overflow: hidden;
}
.thumb-pad4 .thumbnail {
	position: relative;
	margin: 0;
	border-radius: 0;
	box-shadow: none;
	border: none;
	padding: 0;
	background: none;
	text-align: center;
}
.thumb-pad4 .thumbnail .caption {
	padding: 0;
	overflow: hidden;
}
.thumb-pad4 figure {
	margin: 0 0 29px 0;
}
.thumb-pad4 figure img {
	width: 100%;
}
.thumb-pad5 {
	margin-bottom: 22px;
}
.thumb-pad5 .thumbnail {
	position: relative;
	padding: 0;
	margin: 0;
	border: none;
	border-radius: 0;
	box-shadow: none;
	background: none;
}
.thumb-pad5 .thumbnail .name {
	font: italic 18px 'Istok Web';
	color: #1e2731;
	margin-left: 30px;
	margin-bottom: 0;
}
.thumb-pad5 .thumbnail .name a {
	font-weight: bold;
	font-style: normal;
	color: #1e2731;
	-webkit-transition: all 0.25s;
	transition: all 0.25s;
}
.thumb-pad5 .thumbnail .name a:hover {
	color: #e22004;
}
.thumb-pad5 .thumbnail .caption {
	padding: 42px 20px 24px 20px;
	color: #333333;
	margin-bottom: 38px;
	border: 2px solid #cecece;
	position: relative;
}
.thumb-pad5 .thumbnail .caption i {
	position: absolute;
	display: inline-block;
	top: 15px;
	left: 22px;
	width: 26px;
	height: 18px;
	background: url(../img/quote_left2.png) no-repeat;
}
.thumb-pad5 .thumbnail .caption strong {
	position: absolute;
	display: inline-block;
	bottom: 27px;
	right: 60px;
	width: 26px;
	height: 18px;
	background: url(../img/quote_right2.png) no-repeat;
}
.thumb-pad5 .thumbnail .caption em {
	position: absolute;
	display: block;
	bottom: -33px;
	left: 30px;
	width: 35px;
	height: 33px;
	background: url(../img/tr.png) no-repeat;
}
.thumb-pad5 .thumbnail .caption p {
	font: italic 16px/28px 'Istok Web';
	margin-bottom: 0;
}
.thumb-pad6 {
	overflow: hidden;
}
.thumb-pad6 .thumbnail {
	position: relative;
	padding: 0;
	margin: 0;
	border: none;
	border-radius: 0;
	box-shadow: none;
	background: none;
	text-align: center;
}
.thumb-pad6 .thumbnail a {
	font: 300 19px 'Roboto Slab';
	color: #45ad05;
	-webkit-transition: all 0.25s;
	transition: all 0.25s;
}
.thumb-pad6 .thumbnail a:hover {
	color: #b6b6b6;
}
.thumb-pad6 .thumbnail p {
	color: #333333;
	font-style: italic;
	margin-bottom: 4px;
}
.thumb-pad6 .thumbnail .caption {
	padding: 0;
	overflow: hidden;
	color: #333333;
}
.thumb-pad6 .thumbnail figure {
	float: left;
	margin: 7px 24px 0 0;
}
.thumb-pad7 {
	overflow: hidden;
	margin-bottom: 64px;
}
.thumb-pad7 .thumbnail {
	position: relative;
	padding: 0;
	margin: 0;
	border: none;
	border-radius: 0;
	box-shadow: none;
	background: none;
	text-align: center;
}
.thumb-pad7 .thumbnail p {
	color: #ffffff;
	margin-bottom: 4px;
}
.thumb-pad7 .thumbnail .bdg {
	float: left;
	margin-right: 8px;
	width: 30px;
	font: bold 36px 'Roboto Slab';
	color: #edf5e4;
}
.thumb-pad7 .thumbnail h3 {
	margin-bottom: 7px;
}
.thumb-pad7 .thumbnail .caption {
	padding: 0;
	overflow: hidden;
	color: #333333;
}
.thumb-pad8 {
	margin: 0 0 60px 0;
	padding: 0;
	overflow: hidden;
}
.thumb-pad8 .thumbnail {
	margin: 0;
	border-radius: 0;
	box-shadow: none;
	border: none;
	padding: 0;
	background: none;
}
.thumb-pad8 .thumbnail figure {
	margin: 0 0 30px 0;
}
.thumb-pad8 .thumbnail figure img {
	width: 100%;
}
.thumb-pad8 .thumbnail figure a {
	position: relative;
	display: block;
}
.thumb-pad8 .thumbnail figure a em {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	background: #333333 url(../img/plus.png) center center no-repeat;
	background: rgba(51, 51, 51, 0.5) url(../img/plus.png) center center no-repeat;
	-webkit-transform: translateY(0) translateX(0) scale(0.25);
	transform: translateY(0) translateX(0) scale(0.25);
	-webkit-transition: all 0.35s;
	transition: all 0.35s;
	opacity: 0;
	filter: alpha(opacity=0);
}
.thumb-pad8 .thumbnail figure a:hover em {
	-webkit-transform: translateY(0) translateX(0) scale(1);
	transform: translateY(0) translateX(0) scale(1);
	-webkit-transition: all 0.35s;
	transition: all 0.35s;
	opacity: 1;
	filter: alpha(opacity=100);
}
.thumb-pad8 .thumbnail .caption {
	padding: 0;
	overflow: hidden;
	text-align: center;
}
.thumb-pad8 .thumbnail .caption > p {
	margin-bottom: 24px;
	margin-top: 15px;
}
.thumb-pad8 .thumbnail .caption .lnk {
	font: 300 19px/27px 'Roboto Slab';
	color: #030303;
	-webkit-transition: all 0.25s ease;
	transition: all 0.25s ease;
}
.thumb-pad8 .thumbnail .caption .lnk:hover {
	color: #45ad05;
}
/*-----btn-----*/
.btn-default.btn1 {
	box-shadow: none;
	position: relative;
	text-decoration: none !important;
	padding: 0;
	font: 18px 'Roboto', "Helvetica Neue", Helvetica, Arial, sans-serif;
	margin: 0;
	text-shadow: none;
	color: #ffffff;
	border-radius: 0;
	border: none;
	background: none;
	display: inline-block;
	-webkit-transition: all 0.25s;
	transition: all 0.25s;
}
.btn-default.btn1 span {
	font-size: 18px;
	color: #4db110;
	margin-left: 3px;
}
.btn-default.btn1:hover {
	color: #4db110;
	background: none;
	text-decoration: none !important;
	-webkit-transition: all 0.25s;
	transition: all 0.25s;
}
.btn-default.btn2 {
	box-shadow: none;
	position: relative;
	text-decoration: none !important;
	padding: 0 50px;
	font: 25px/54px 'Roboto', "Helvetica Neue", Helvetica, Arial, sans-serif;
	margin: 0;
	border-radius: 12px;
	text-shadow: none;
	color: #ffffff;
	background: #45ad05;
	display: inline-block;
	-webkit-transition: all 0.25s ease;
	transition: all 0.25s ease;
}
.btn-default.btn2:hover {
	color: #ffffff;
	background: #4e4e4e;
	text-decoration: none !important;
	-webkit-transition: all 0.25s ease;
	transition: all 0.25s ease;
}
.btn-default.btn3 {
	box-shadow: none;
	position: relative;
	text-decoration: underline !important;
	padding: 0;
	font: 25px 'Roboto', "Helvetica Neue", Helvetica, Arial, sans-serif;
	margin: 0;
	text-shadow: none;
	color: #ffffff;
	background: none;
	display: inline-block;
	-webkit-transition: all 0.25s ease;
	transition: all 0.25s ease;
}
.btn-default.btn3:hover {
	color: #ffffff;
	background: none;
	text-decoration: none !important;
	-webkit-transition: all 0.25s ease;
	transition: all 0.25s ease;
}
.btn-default.btn4 {
	box-shadow: none;
	position: relative;
	text-decoration: none !important;
	padding: 0 30px;
	font: 18px/42px 'Roboto', "Helvetica Neue", Helvetica, Arial, sans-serif;
	margin: 0;
	border-radius: 8px;
	text-shadow: none;
	color: #ffffff;
	background: #45ad05;
	display: inline-block;
	-webkit-transition: all 0.25s ease;
	transition: all 0.25s ease;
}
.btn-default.btn4:hover {
	color: #ffffff;
	background: #4e4e4e;
	text-decoration: none !important;
	-webkit-transition: all 0.25s ease;
	transition: all 0.25s ease;
}
/*-----list-----*/
.list1-1 {
	margin: 0 0 87px 0;
	padding: 0;
	list-style: none;
	overflow: hidden;
}
.list1-1.indent li {
	border-bottom: 1px solid #bec0c3;
	background: url(../img/list_arrow2.png) left 7px no-repeat;
}
.list1-1.indent li a {
	color: #ffffff;
}
.list1-1 li {
	font-size: 14px;
	line-height: 1.428571429;
	overflow: hidden;
	margin-bottom: 8px;
	padding: 0 0 9px 14px;
	border-bottom: 1px solid #dfdfdf;
	background: url(../img/list_arrow.png) left 7px no-repeat;
}
.list1-1 li:last-child {
	margin-bottom: 0;
	padding-bottom: 0;
	border-bottom: none;
}
.list1-1 li a {
	font: 12px 'Arial';
	color: #5f6775;
	-webkit-transition: all 0.25s ease;
	transition: all 0.25s ease;
}
.list1-1 li a:hover {
	color: #e22004;
	-webkit-transition: all 0.25s ease;
	transition: all 0.25s ease;
}
.list1 {
	margin: 0 0 20px 0;
	padding: 0;
	list-style: none;
	overflow: hidden;
	position: relative;
}
.list1 li {
	font-size: 14px;
	line-height: 1.428571429;
	overflow: hidden;
	margin-bottom: 13px;
	text-align: center;
}
.list1 li p {
	margin-bottom: 0;
}
.list2 {
	margin: 0;
	padding: 0;
	list-style: none;
	overflow: hidden;
}
.list2 li {
	font-size: 14px;
	line-height: 1.428571429;
	overflow: hidden;
	margin-bottom: 12px;
	padding-left: 12px;
	background: url(../img/list_point.png) left 8px no-repeat;
}
.list2 li p {
	margin-bottom: 0;
}
.list2 li a {
	color: #838282;
	font: 12px 'Arial';
	-webkit-transition: all 0.25s;
	transition: all 0.25s;
}
.list2 li a:hover {
	color: #e22004;
}
.list3 {
	margin: 0;
	padding: 0;
	list-style: none;
}
.list3 li {
	font-size: 14px;
	line-height: 1.428571429;
	margin-bottom: 13px;
}
.list3 li a {
	font: 18px/18px 'Istok Web';
	color: #1e2731;
	-webkit-transition: all 0.25s ease;
	transition: all 0.25s ease;
}
.list3 li a:hover {
	color: #e22004;
}
.list3 li p {
	margin-bottom: 0;
	margin-top: 14px;
}
.list3 li .extra-wrap {
	padding-top: 8px;
}
.list3 li .badge {
	padding: 0;
	margin: 0;
	float: left;
	margin-right: 9px;
	display: inline-block;
	color: #ffffff;
	font: bold 24px/52px 'Istok Web';
	background: #e22004;
	border: none;
	width: 52px;
	height: 52px;
	border-radius: 100%;
	text-align: center;
}
.list6 {
	margin: 0;
	padding: 0;
	list-style: none;
}
.list6 li {
	font-size: 14px;
	line-height: 1.428571429;
	margin-bottom: 22px;
}
.list6 li .badge {
	padding: 0;
	margin: 0;
	box-shadow: none;
	text-shadow: none;
	border-radius: 0;
	background: none;
	text-align: center;
	width: 35px;
	float: left;
	border: none;
	margin-right: 10px;
}
.list6 li .badge time {
	font: bold 24px/21px 'Istok Web';
	color: #e4351c;
}
.list6 li .badge time span {
	display: block;
	font: bold 18px/18px 'Istok Web';
	color: #e4351c;
	margin-top: 0;
}
.list6 li p {
	margin-bottom: 0;
	margin-top: 14px;
	color: #737885;
}
.list6 li a {
	font: 18px/18px 'Istok Web';
	color: #1e2731;
	-webkit-transition: all 0.25s;
	transition: all 0.25s;
}
.list6 li a:hover {
	color: #e4351c;
}
.priv-box {
	text-align: center;
	padding-bottom: 58px;
}
.list8 {
	margin: 0;
	padding: 0;
	list-style: none;
}
.list8 li {
	font-size: 14px;
	line-height: 23px;
	margin-bottom: 25px;
}
/*-----search-----*/
#search-404 {
	position: relative;
	margin: 33px 0 0 0;
	overflow: hidden;
	width: 296px;
}
#search-404 a {
	position: absolute;
	top: 10px;
	right: 0;
	-webkit-transition: all 0.25s;
	transition: all 0.25s;
}
#search-404 a:hover {
	opacity: 0.7;
	filter: alpha(opacity=70);
}
#search-404 input {
	box-shadow: none;
	border-radius: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	float: left;
	margin: 0;
	width: 267px;
	outline: none;
	border: 1px solid #e2e2e2;
	background: #ffffff;
	font: 14px 'Roboto', "Helvetica Neue", Helvetica, Arial, sans-serif;
	line-height: 18px;
	color: #333333;
	padding: 10px 14px;
	height: 41px;
	resize: none;
}
#search {
	margin: 28px 0 0 0;
	position: relative;
	border-radius: 38px;
	border: 1px solid #ebebeb;
	border-radius: 5px;
	display: inline-block;
	width: 213px;
	float: right;
}
#search a {
	position: absolute;
	float: left;
	top: 2px;
	right: 11px;
	-webkit-transition: all 0.25s ease;
	transition: all 0.25s ease;
}
#search a:hover {
	opacity: 0.5;
	filter: alpha(opacity=50);
}
#search input {
	box-shadow: none;
	border-radius: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border: none;
	margin: 0;
	width: 215px;
	outline: none;
	font: 14px 'Roboto', "Helvetica Neue", Helvetica, Arial, sans-serif;
	line-height: 18px;
	float: left;
	color: #333333;
	background: none;
	height: 26px;
	padding: 3px 0 9px 20px;
	resize: none;
	overflow: hidden;
}
/*-----map-----*/
.formBox {
	background: #ffffff;
	padding: 48px 0 60px 0;
}
.map {
	margin: 0 0 112px 0;
	width: 100%;
	line-height: 0;
	overflow: hidden;
}
.map iframe {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width: 100%;
	height: 460px;
	border: none;
	line-height: 0;
	overflow: hidden;
}
.info {
	text-align: center;
}
.info p {
	margin-bottom: 0;
}
.info p span {
	display: inline-block;
	width: 75px;
}
.info p a {
	font: 14px 'Roboto', "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #45ad05;
	text-decoration: underline;
	-webkit-transition: all 0.25s;
	transition: all 0.25s;
}
.info p a:hover {
	color: #333333;
}
/*-----form-----*/
#contact-form {
	width: 100%;
	position: relative;
	overflow: hidden;
	margin-top: 20px;
	text-align: left;
}
#contact-form label {
	position: relative;
	display: block;
	min-height: 51px;
	margin: 0;
	font-weight: normal;
	font: 14px 'Roboto', "Helvetica Neue", Helvetica, Arial, sans-serif;
	line-height: 18px;
	color: #333333;
}
#contact-form label span {
	margin-bottom: 2px;
	display: block;
	color: #333333;
}
#contact-form .holder {
	overflow: hidden;
}
.form-div-1, .form-div-2, .form-div-3 {
	float: left;
	width: 242px;
	margin-right: 10px;
}
.form-div-3 {
	margin-right: 0;
}
#contact-form ._placeholder {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	cursor: text;
	padding: 10px 14px;
	border-radius: 0;
	display: block;
}
#contact-form ._placeholder.focused {
	opacity: 0;
	filter: alpha(opacity=0);
	box-shadow: none;
}
#contact-form ._placeholder.hidden {
	display: none;
}
#contact-form input, #contact-form textarea {
	box-shadow: none;
	border-radius: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	float: left;
	margin: 0;
	width: 100%;
	outline: none;
	border: 1px solid #e2e2e2;
	background: #ffffff;
	font: 14px 'Roboto', "Helvetica Neue", Helvetica, Arial, sans-serif;
	line-height: 18px;
	color: #333333;
	padding: 10px 14px;
	height: 41px;
	resize: none;
}
#contact-form textarea {
	height: 177px;
	margin-bottom: 20px;
}
#contact-form .error-message, #contact-form .empty-message {
	height: 0;
	overflow: hidden;
	font: 10px 'Arial';
	color: #45ad05;
	-webkit-transition: 0.3s ease-in height;
	transition: 0.3s ease-in height;
	position: absolute;
	right: 5px;
	top: 2px;
}
#contact-form .invalid .error-message, #contact-form .empty .empty-message {
	height: 20px;
}
#contact-form .success-message {
	line-height: 48px;
	position: absolute;
	overflow: hidden;
	height: 0;
	left: 0;
	top: 0;
	box-sizing: border-box;
	box-shadow: none;
	border-radius: 0;
	background: #fff;
	z-index: 10;
	width: 100%;
	text-align: center;
	-webkit-transition: all 0.35s ease;
	transition: all 0.35s ease;
	padding: 0;
}
#contact-form.success .success-message {
	box-shadow: none;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	float: left;
	margin: 0;
	width: 100%;
	outline: none;
	border: 1px solid #e2e2e2;
	background: #ffffff;
	border-radius: 0;
	font: 14px 'Roboto', "Helvetica Neue", Helvetica, Arial, sans-serif;
	line-height: 36px;
	color: #333333;
	padding: 0 14px;
	height: 41px;
	resize: none;
	-webkit-transition: all 0.35s ease;
	transition: all 0.35s ease;
}
.btns .btn4 {
	float: left;
	margin-right: 20px;
}
.btns p {
	margin: 6px 0 0 0;
	float: left;
}
.mail {
	color: #45ad05;
	font: 14px 'Roboto', "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-decoration: underline;
}
.mail:hover {
	color: #333333;
	text-decoration: underline;
}
/*------------------------------------------------------media queries---------------------------------------------------------*/
@media (min-width: 1220px) {
 .container {
 padding: 0;
}
}
/*---------------------------------------------------------------------------------------------------------------------------*/
@media (min-width: 992px) and (max-width: 1219px) {
 footer {
 background: url(../img/bg_pic2.jpg) center bottom no-repeat;
}
 .articles-box {
 background: url(../img/bg_pic1.jpg) center top no-repeat;
}
 .links-box {
 background: url(../img/bg_pic6.jpg) center top no-repeat;
}
 .form-div-1, .form-div-2, .form-div-3 {
 width: 100%;
 float: none;
 margin-right: 0;
}
 #contact-form label {
 min-height: 50px;
}
 .thumb-pad0 .thumbnail .caption p {
 font-size: 14px;
 line-height: 21px;
}
 #contact-form.success .success-message {
 height: 141px;
 line-height: 141px;
}
 .errorBox .title {
 font-size: 80px;
 line-height: 80px;
}
 .errorBox .description {
 font-size: 55px;
 line-height: 55px;
}
 footer {
 text-align: center;
}
 footer h1 {
 float: none;
 width: 100%;
 text-align: center;
}
 footer .foo_menu {
 float: none;
 display: inline-block;
}
 footer p {
 text-align: center;
}
 footer .follow_icon {
 float: none;
 display: inline-block;
}
}
/*---------------------------------------------------------------------------------------------------------------------------*/
@media (min-width: 768px) and (max-width: 991px) {
 header {
 text-align: center;
 position: relative;
 background: #000000;
}
 nav.tm_navbar {
 float: none;
}
 nav.tm_navbar > .nav {
 display: inline-block;
}
 h1.navbar-brand_ {
 float: none;
 width: 100%;
 text-align: center;
 margin-bottom: 15px;
}
 .articles-box {
 background: url(../img/bg_pic1.jpg) center top no-repeat;
}
 .articles-box .name, .btn-default.btn2 {
 margin-left: 40px;
}
 .articles-box .title-box {
 padding-top: 0;
}
 .links-box {
 background: url(../img/bg_pic6.jpg) center top no-repeat;
}
 #contact-form2.success .success-message {
 height: 93px;
 line-height: 93px;
}
 .thumb-pad0 {
 margin: 0 0 30px 0;
 overflow: hidden;
}
 .thumb-pad0 .thumbnail .caption p {
 font-size: 14px;
 line-height: 21px;
}
 #contact-form.success .success-message {
 height: 141px;
 line-height: 141px;
}
 .form-div-1, .form-div-2, .form-div-3 {
 float: none;
 width: 100%;
 margin-right: 0;
}
 #contact-form label {
 min-height: 50px;
}
 .categories-box {
 margin-bottom: 40px;
}
 .list1 li .title br {
 display: none;
}
 .thumb-pad3 figure {
 margin: 0 0 20px 0;
 float: none;
}
 #search {
 float: none;
}
 .servicesBox .col-lg-4 {
 margin-bottom: 0;
}
 .overviewBox {
 padding: 40px 0 33px 0;
}
 #options {
 margin-bottom: 20px;
}
 .thumb-pad1 .thumbnail .caption a br {
 display: none;
}
 .thumb-pad1 .thumbnail .caption {
 overflow: visible;
}
 .map-box {
 margin-top: 30px;
}
 .map-box figure img {
 width: auto;
}
 .errorBox img {
 width: 100%;
}
 footer {
 text-align: center;
 background: url(../img/bg_pic2.jpg) center bottom no-repeat;
}
 footer h1 {
 float: none;
 width: 100%;
 text-align: center;
}
 footer .foo_menu {
 float: none;
 display: inline-block;
}
 footer p {
 text-align: center;
}
 footer .follow_icon {
 float: none;
 display: inline-block;
}
 .center-box {
 margin: 0;
}
 .center-box .box {
 margin-bottom: 30px;
}
 .center-box .cont {
 background: #000000 !important;
}
 .center-box .cont p {
 width: 80%;
}
 .errorBox .title {
 font-size: 80px;
 line-height: 80px;
}
 .errorBox .description {
 font-size: 55px;
 line-height: 55px;
}
}
/*---------------------------------------------------------------------------------------------------------------------------*/
@media (max-width: 767px) {
 header {
 text-align: center;
 position: relative;
 background: #000000;
}
 h1.navbar-brand_ {
 float: none;
 width: 100%;
 text-align: center;
 margin-bottom: 15px;
}
 nav.tm_navbar {
 float: none;
 display: inline-block;
 width: 100%;
 padding: 0;
 margin: 0;
}
 nav.tm_navbar .nav {
 display: none;
}
 .select-menu {
 display: inline-block !important;
 padding-top: 4px;
 padding-right: 3px;
 padding-bottom: 4px;
 width: 100%;
 border: 1px solid #45ad05;
 background: #45ad05;
 color: #ffffff;
 cursor: pointer;
 height: 30px;
 font-size: 12px;
 vertical-align: middle;
}
 .articles-box {
 background: url(../img/bg_pic1.jpg) center top no-repeat;
}
 .articles-box .title-box {
 padding-top: 0;
}
 .articles-box {
 padding: 80px 0 0 0;
}
 .articles-box .col-lg-6 {
 margin-bottom: 50px;
}
 .links-box {
 background: url(../img/bg_pic6.jpg) center top no-repeat;
}
 #contact-form2.success .success-message {
 height: 93px;
 line-height: 93px;
}
 .thumb-pad2 figure {
 margin: 0 20px 0 0;
 float: left;
}
 .map-box {
 margin-top: 30px;
}
 .map-box figure img {
 width: auto;
}
 .errorBox img {
 width: 100%;
}
 .thumb-pad0 {
 margin: 0 0 30px 0;
 overflow: hidden;
}
 .thumb-pad0 .thumbnail .caption p {
 font-size: 14px;
 line-height: 21px;
}
 #contact-form.success .success-message {
 height: 141px;
 line-height: 141px;
}
 .form-div-1, .form-div-2, .form-div-3 {
 width: 100%;
 float: none;
 margin-right: 0;
}
 .map iframe {
 height: 300px;
}
 .info {
 margin-bottom: 50px;
}
 #contact-form label {
 min-height: 50px;
}
 .proffesional-box {
 padding: 70px 0;
}
 .proffesional-box .title {
 font-size: 21px;
}
 .privacyBox {
 margin-bottom: 50px;
}
 .pict {
 background: none;
 padding: 0 0 90px 0;
}
 .categories-box {
 margin-bottom: 40px;
}
 .block-box article {
 margin-bottom: 50px;
}
 .list1 li .title br {
 display: none;
}
 .thumb-pad4 figure {
 margin: 0 20px 0 0;
 float: left;
}
 .thumb-pad4 .thumbnail .caption {
 overflow: visible;
}
 .thumb-pad3 figure {
 margin: 0 0 20px 0;
 float: none;
}
 #search {
 float: none;
}
 .thumb-pad1 {
 margin-bottom: 20px;
}
 .servicesBox .col-lg-4 {
 margin-bottom: 0;
}
 .overviewBox {
 padding: 40px 0 33px 0;
}
 .thumb-pad1 .thumbnail .caption a br {
 display: none;
}
 .thumb-pad1-1 figure {
 margin: 0 20px 0 0;
 float: left;
}
 footer {
 text-align: center;
 background: url(../img/bg_pic2.jpg) center bottom no-repeat;
}
 footer h1 {
 float: none;
 width: 100%;
 text-align: center;
}
 footer .foo_menu {
 display: none;
}
 footer p {
 text-align: center;
}
 footer .follow_icon {
 float: none;
 display: inline-block;
}
 .center-box {
 margin: 0;
}
 .center-box .box {
 margin-bottom: 30px;
}
 .center-box .cont {
 background: #000000 !important;
}
 .center-box .cont p {
 width: 75%;
}
 .testimBox .col-lg-4 {
 margin-bottom: 30px;
}
 .errorBox .title {
 font-size: 80px;
 line-height: 80px;
}
 .errorBox .description {
 font-size: 55px;
 line-height: 55px;
}
}
/*---------------------------------------------------------------------------------------------------------------------------*/
@media (max-width: 626px) {
 .thumb-pad4 figure {
 margin: 0 0 20px 0;
 float: none;
}
 .thumb-pad1-1 figure {
 margin: 0 0 20px 0;
 float: none;
}
 .latest-box {
 background: #ffffff;
}
}
/*---------------------------------------------------------------------------------------------------------------------------*/
@media (max-width: 560px) {
 .thumb-pad2 figure {
 margin: 0 0 20px 0;
 float: none;
}
 .thumb-pad1 .thumbnail .caption {
 overflow: visible;
}
}
/*---------------------------------------------------------------------------------------------------------------------------*/
@media (max-width: 480px) {
 h1.navbar-brand_ a img {
 width: 100%;
}
 .baner-box {
 width: 100%;
 float: none;
}
 .trainerBox {
 width: 50%;
}
 .services-box {
 width: 100%;
 float: none;
}
 .overviewBox .col-xs-6 {
 width: 100%;
 float: none;
}
 .projects-box .col-xs-6 {
 width: 100%;
 float: none;
}
 #search-404 {
 width: 100%;
}
 .articles-box {
 background: #000000;
}
 .thumb-pad1 figure {
 margin: 0 0 20px 0;
 float: none;
}
 .about-box {
 background: #f7f7f7;
}
 .links-box {
 background: #4e4e4e;
}
 .product-box {
 width: 100%;
 float: none;
}
 #search-404 {
 width: 283px;
}
 #search-404 input {
 width: 247px;
}
 .errorBox .title {
 font-size: 35px;
 line-height: 35px;
}
 .errorBox .description {
 font-size: 25px;
 line-height: 25px;
}
}
/*---------------------------------------------------------------------------------------------------------------------------*/
@media (max-width: 320px) {
 h1.navbar-brand_ a img {
 width: 100%;
}
 .trainerBox {
 width: 100%;
 float: none;
}
 .gallery-box {
 width: 100%;
 float: none;
}
 .thumb-pad1 figure img {
 width: 100%;
}
 .center-box em {
 right: 0;
}
}
/*---------------------------------------------------------------------------------------------------------------------------*/
.margBot {
	margin-bottom: 0;
}
.padBot {
	padding-bottom: 77px;
}
/*Core variables and mixins*/
/*-------------------------------------------------*/
/*-------------------------------------------------*/
